@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust:none;
}

.webStandard {
     button, .themeLinkButtonBig {
        background:var(mainButton);
        color: var(mainButtonText);
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding: 12px 30px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        border: none;
        display: inline-block;
        &:hover {
            background: var(mainButtonHover);
            color: var(mainButtonHoverText);
        }
    }
}
.webStandard {
    div.kwfFormFieldDateField a.icon {
        background: url('/assets/web/themes/Theme/images/datePicker.png');
        width: 25px;
        height: 28px;
        right: 0px;
    }
}

.webMenu {
    a {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: var(mainColor);
        &:hover {
            color: var(secColor);
        }
    }
    ul {
        li {
            &.current {
                > a {
                 color: var(secColor);
                }
            }
        }
    }
}

.webForm {
    .kwfField {
        @include pie-clearfix;
        margin-bottom: 5px;
    }
    label {
        @include box-sizing(border-box);
        font-size: 14px;
        padding: 4px;
        display: inline-block;
        .requiredSign {
            display: none;
        }
    }
    input,
    textarea,
    select {
        @include box-sizing(border-box);
        font-size: 14px;
        height: 28px;
    }

    &.kwcForm {
        input, textarea, select {
            font-size: 12px;
        }
    }

    .kwcForm.default.gt500 .kwfFormContainerAbstract > .kwfFormFieldWrapper {
        display: block;
    }
    input[type="text"], textarea, input[type="email"], input[type="password"] {
        background: #ebebeb;
        border: 1px solid #CCCCCC;
    }
    .kwfFormContainerFieldSet fieldset {
        background: none repeat scroll 0 0 #FAFAFA;
        border: 1px solid #EBEBEB;
        legend {
            color: var(mainColor);
            font-size: 20px;
            font-weight: normal;
        }
    }
}