@import "compass/css3/box-sizing";
@import "kwf/background-image-dpr2";
@import "compass/css3/transition";


.cssClass {
    width: auto;
    &.default {
       > a.showMenu {
            position: absolute;
            right: 0;
            border-top: none;
            font-size: 18px;
            color: #00540C;
            width: 52px;
            z-index: 10;
            font-weight: bold;
        }
        > .slider {
            ul {
                li {
                    padding: 0 10px;
                    &.back {
                        a {
                            border-top: 1px solid #ccc;
                        }
                    }
                    a {
                        border-bottom: 1px solid #ccc;
                        text-decoration: none;
                        line-height: 15px;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
