.cssClass {
  border-top: 1px solid #ccc;

    > a {
        &.arrowLeft {
            background: url("/assets/web/themes/Theme/images/subMenuArrowLeft.png") no-repeat scroll left -4px transparent;
        }
        
        &.arrowRight {
            background: url("/assets/web/themes/Theme/images/subMenuArrowRight.png") no-repeat scroll left -4px transparent;
        }
    }
}