@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
.cssClass {
  height: 35px;
  &.kwcMenuDropdown {
    ul {
      li {
        .dropdown {
          background: #FFFFFF;
          @include single-box-shadow(rgba(0,0,0,0.7), 1px, 7px, 4px, -2px, false);
          ul {
            li {
              a {
                text-transform: uppercase;
                color:var(selColor);
                font-size: 12px;
                font-weight: normal;
                &:hover {
                  color: #000000;
                }
              }

              &:hover {
                a {
                  color: #000000;
                }
              }

              &.last {
                margin-bottom: 10px;
              }
            }
          }
          &.blocked {
            display: none;
          }
        }
      }
    }
  }

  ul {
    li {
      a {
        font-size: 14px;
        padding: 0 10px;
        text-transform: uppercase;
        font-weight: 500;
        &:hover {
          color: #000000;
        }
      }
      &.current >  a {
        color: #000000;
      }
    }
  }
}
