@import "susy";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";

$total-columns: 10;
$column-width: 1100px / $total-columns;
$gutter-width: 0px;
$grid-padding: 0px;

$container-style: magic;

/* Sticky Header for desktop version */
html, body {
    height: 100%;
}

#outerBg {
    display: none;

    @include at-breakpoint(5 no-mediaqueries) {
        display: block;
    }
}

#page {
    &.hasBackground {
        @include at-breakpoint(6 no-mediaqueries) {
            #outerContent {
                padding-top: 400px;
                #content {
                    padding: 40px 20px;
                }
            }
        }
    }

    height: 100%;
    position: relative;
    width: 100%;

    #outerHeader {
        background: var(light);
        min-height: 120px;
        z-index: 12;
        position:relative;
        display:block;
        width: 100%;

        &.stick {
            @include box-shadow;
            @include translate(0, -38px);
        }

        @include at-breakpoint(5 no-mediaqueries) {
            position: fixed;
        }

        @include at-breakpoint(8 no-mediaqueries) {
            margin-bottom: 35px;
        }

        #header {
            overflow: visible !important;
            position: relative;

            @include clearfix;
            @include container;
            @include box-sizing(border-box);
            padding: 0 10px;

            @include at-breakpoint(10 no-mediaqueries) {
                padding: 0px;
            }

            .language {
                width: 100%;
                text-align: right;
                margin-top: 5px;
            }

            .logo {
                min-width: 298px;
                padding: 10px 0 10px 5px;
                z-index: 10;
                position: relative;
                @include box-sizing(border-box);
                @include at-breakpoint(8 no-mediaqueries) {
                    float: left;
                }

                img {
                    @include at-breakpoint(4 no-mediaqueries) {
                        display: block;
                    }
                }
            }
            .subMenus {
                float: left;
                position: relative;
                width: 100%;
                z-index: 0;
                .menuMask {
                    background: none repeat scroll 0 0 #000000;
                    height: 100%;
                    left: -2%;
                    opacity: 0;
                    position: absolute;
                    transition: visibility 0s ease 0.3s, opacity 0.3s linear 0s;
                    visibility: hidden;
                    width: 104%;
                    z-index: 20;
                    &.visible {
                        visibility: visible;
                        opacity: 0.7;
                        filter: alpha(opacity = 70);
                        transition: opacity 0.3s linear;
                    }
                }
            }

            .rightHeaderBox {
                margin-top: 20px;
                position: relative;
                right: 0;
                width: 100%;
                display:none;

                @include at-breakpoint(5 no-mediaqueries) {
                    display:block;
                }
            }

            .rightBox {
                position: relative;

                @include at-breakpoint(8 no-mediaqueries) {
                    padding-top: 75px;
                }

                .mainMenu {
                    position: relative;
                    margin-top: 55px;
                    display: none;
                    margin-right: 5px;

                    @include at-breakpoint(5 no-mediaqueries) {
                        position: relative;
                        display: inline-block;
                        margin: 10px 0 0 0;
                    }


                    @include at-breakpoint(8 no-mediaqueries) {
                        position: relative;
                        margin: 0;
                        float: right;

                        ul li {
                            float: left;
                        }
                    }
                    ul li {
                        &:hover .dropdown {
                            z-index: 40;
                            @include at-breakpoint(8 no-mediaqueries) {
                                display: block;
                            }
                        }
                    }
                }

                .mobileStage {
                    width: 100%;
                    height: auto;
                    float:left;
                    @include at-breakpoint(5 no-mediaqueries) {
                        display: none;;
                    }  
                }

                .verticalMenu {
                    @include at-breakpoint(5 no-mediaqueries) {
                        display: none;
                    }
                }

                .rightHeaderBox {
                    margin-top: 20px;
                    position: relative;
                    right: 0;
                    width: 100%;
                    display:none;

                    @include at-breakpoint(5 no-mediaqueries) {
                        display:block;
                    }
                }
                .languageMenu {
                    left: 0;
                    margin-top: 0;
                    position: relative;
                    right: inherit !important;
                    z-index: 10;
                    width: 100%;
                    @include at-breakpoint(5 no-mediaqueries) {
                        display:none;
                    }
                }
            }

            .subMenuHorizontal, .subSubMenuHorizontal {
                display: none;
                float: left;
                @include at-breakpoint(5 no-mediaqueries) {
                  display: inline-block;
                  width: 100%;
                }

                .webStandard.themeMenuSubHorizontal {
                    display: none;

                    @include at-breakpoint(5 no-mediaqueries) {
                        display: block;
                        position: relative;

                    }
                }
                @include at-breakpoint(8 no-mediaqueries) {
                    display: none;
                }
            }
        }
    }

    #outerContent {
        height: auto;
        overflow-x: hidden;
        min-height: 100%;
        position: relative;
        .stage {
            padding-top: 0px;
            @include at-breakpoint(5 no-mediaqueries) {
                padding-top: 202px;
            }
            @include at-breakpoint(6 no-mediaqueries) {
                padding-top: 157px;
            }
            @include at-breakpoint(8 no-mediaqueries) {
                padding-top: 124px;
            }
        }
        #content {
            background: #fff;
            @include container;
            @include box-sizing(border-box);
            padding: 0px 20px 180px 20px;

            @include at-breakpoint(5 no-mediaqueries) {
                padding: 195px 20px 180px 20px;
            }

            @include at-breakpoint(6 no-mediaqueries) {
                padding: 165px 20px 180px 20px;
            }

            @include at-breakpoint(10 no-mediaqueries) {
                padding: 165px 0 180px;
            }
            &.hasStage {
                padding: 20px 20px 180px 20px;
                @include at-breakpoint(10 no-mediaqueries) {
                    padding: 20px 0 180px 0;
                }
            }

            .breadcrumbs {
                margin-left: 5px;
                @include at-breakpoint(8 no-mediaqueries) {
                    margin-left: 25%;
                    padding-left: 50px;
                }
            }
            #innerContent {

                @include at-breakpoint(6 no-mediaqueries) {
                    margin-top: 0px;
                }

                &.oneColumn {
                    .centerColumn {
                        @include span-columns(10, $total-columns);
                    }
                }

                &.twoColumnsRight {
                    .centerColumn {
                        @include at-breakpoint(8 no-mediaqueries) {
                            @include span-columns(5, $total-columns);
                        }
                    }
                }
                
                &.twoColumnsLeft {
                    .centerColumn {
                        @include at-breakpoint(8 no-mediaqueries) {
                            @include span-columns(6, $total-columns);
                        }
                    }
                }

                &.threeColumns {
                    .centerColumn {
                        @include at-breakpoint(8 no-mediaqueries) {
                            @include span-columns(3, $total-columns);
                        }
                    }
                }

                .leftColumn {
                    .themeMenuSub { display:none };

                    div.kwfSwitchDisplay div.switchContent {
                        margin-left: 0;
                        border: 1px solid #CCCCCC;
                        padding: 0 4.5%;
                        width: 90%;
                    }

                    @include at-breakpoint(8 no-mediaqueries) {
                        @include span-columns(2, $total-columns);
                        @include box-sizing(border-box);
                        padding: 0 20px 0 0;
                        .themeMenuSub {
                            display: block;
                        }
                    }

                }

                .centerColumn {
                    @include box-sizing(border-box);
                    @include at-breakpoint(6 no-mediaqueries) {
                        margin-top: 0px;
                    }
                    .kwcForm.default.gt500 .kwfFormContainerAbstract > .kwfFormFieldWrapper {
                        display: block;
                    }
                    input[type="text"], textarea {
                        background: #ebebeb;
                        border: 1px solid #CCCCCC;
                    }
                    .kwfFormContainerFieldSet fieldset {
                        background: none repeat scroll 0 0 #F6F6F6;
                        border: 1px solid #CCCCCC;

                        legend {
                            color: var(mainColor);
                            font-size: 20px;
                            font-weight: normal;
                        }
                    }

                }
                .rightColumn {
                    margin-top: 20px;
                    @include pie-clearfix;
                    @include span-columns(10, $total-columns);
                    @include at-breakpoint(8 no-mediaqueries) {
                        @include span-columns(3 omega, $total-columns);
                        @include box-sizing(border-box);
                        padding: 0 10px 0 20px;
                    }
                }
            }
        }
        .teaserList {
            margin: 0;
            background: #f3f2f2;
            padding: 0 20px;
            @include at-breakpoint(10 no-mediaqueries) {
                padding: 0px;
            }
            .innerTeaserList {
                @include container;
                margin: auto;
                background: #f3f2f2;
                padding: 40px 0 40px 0
            }
        }
    }
    #outerFooter {
        height: 165px;
        width: 100%;
        background: #e1dfe0;
        bottom: 0px;
        position: relative;
        margin-top: -165px;
        #footer {
            @include container;
            padding: 0 20px;
            @include at-breakpoint(10 no-mediaqueries) {
                padding: 0px;
            }
            @include pie-clearfix;
            .text {
                padding-top: 20px;
                text-align: center;
                @include at-breakpoint(8 no-mediaqueries) {
                    text-align: left;
                    float: left;
                }
                p {
                    font-size: 13px;
                    color: #606060;
                }
            }
            .bottomMenu {
                padding-top: 20px;
                display: table;
                margin: auto;
                @include at-breakpoint(8 no-mediaqueries) {
                    float: right;
                }
                a {
                    font-size: 12px;
                }
            }
        }
    }
}

