.cssClass {
  display:block;
  padding: 0 0 0 10px;
  ul {
    padding-bottom: 0;
    li {
      border:none;
      margin: 0;
      padding: 0;
      a {
        font-size: 11px;
      }
      &.current {
        > a {
          color: var(secColor);
        }
      }
    }
  }
}