@import "compass/utilities/general/clearfix";

.cssClass {
    max-width: 1100px;
    a {
        &.listSwitchPrevious {
            left: 10px;
            width: 50px;
            background: url('/assets/web/themes/Theme/images/arrowBigLeft.png') left center no-repeat;
            background-size: 40%;
        }
        &.listSwitchNext {
            right: 10px;
            width: 50px;
            background: url('/assets/web/themes/Theme/images/arrowBigRight.png') right center no-repeat;
            background-size: 40%;
        }
    }
}